* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
}

.layout {
    display: grid;
    grid-template-columns: 150px 2fr 1fr 2fr 150px;
    background-color: rgb(249, 245, 239);
    gap: 10px;
}
.left, 
.right,
.image__column {
    display: grid;
}
.left {
    grid-column: 2;
    position: relative;
}
.left > article:first-child {
    position: absolute;
    top: 10px;
}
.left > article:last-child {
    position: absolute;
    top: 510px;
}
.image__column {
    grid-column: 3;
    margin-top: 20px;
    gap: 100px;
}
.right {
    grid-column: 4;
    margin-top: 10px;
    position: relative;
}
.right > article:first-child {
    position: absolute;
    top: 250px;
}
.right > article:last-child {
    position: absolute;
    top: 750px;
}
.image__column {
    justify-content: center;
}
.left article {
    text-align: end;
}

h1 {
    font-weight: 300;
    margin: 0;
    color: grey;
}
p {
    font-size: 16px;
    color: grey;
    font-weight: 100;
}
img,
.round {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: rgb(218, 216, 216);
    padding: 10px;
    position: relative;
}
.round {
    position: relative;
    bottom: 50px;
    
}
.yellow {
    background-color: rgb(230, 238, 14);
    height: 130px;
    width: 130px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span {
    color: white;
    position: absolute;
    text-align: center;
    font-weight: 700;
    line-height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.active {
    position: relative;
}
.active::before {
    content: "";
    background-color: rgb(218, 216, 216);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 180px;
    transform: rotate(90deg);
}


















 





    










