@media screen and (min-width: 300px) {
    * {
        box-sizing: border-box;
    }
    body {
        background-color: green;
    }
    .container {
        padding: 20px;
    }
    .wrapper {
        background-color: green;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    div {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    h1,
    p,
    footer {
        padding: 12px 24px;
        margin: 0;

    }
    img {
        width: 100%;
        object-fit: cover;
    }
    p {
        font-size: 18px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
    }
}
@media screen and (min-width: 900px) {
    .container {
        padding: 0 150px;
        width: 100%;
    }
    .wrapper {
        flex-wrap: wrap;
        height: 1340px;
    }
    .first {
        width: 60%;
    }
    div {
        width: 40%;
    }
}
 







    










